/*adding open source weather icons from https://github.com/erikflowers/weather-icons*/

@import 'src/assets/weather-icons/weather-icons.scss';
@import 'src/assets/sass/mixins.scss';
body {
    margin: 0;
}

html {
    @include custom-scrollbar(0);
    background-color: #1b2023;
}

.flex-box {
    display: flex;
}

.flex-spacer {
    flex: 1 1 auto;
}

/* material tweaks */

.mat-divider {
    border-top-color: #fff;
    margin-bottom: 2rem !important;
}

.mat-grid-tile .mat-figure {
    display: block !important;
}

.mat-figure {
    margin: 1rem !important;
}

mat-tab-group {
    height: 100% !important;
}

.mat-tab-body-wrapper {
    height: 100% !important;
}

mat-tab-body {
    height: 100% !important;
}

.custom-height .mat-figure {
    height: unset !important;
}

.mat-header-row {
    background-color: #303030 !important;
}
@import '~@angular/cdk/overlay-prebuilt.css';