@import 'src/assets/sass/breakpoints.scss';
@import 'src/assets/sass/dark-theme-variables.scss';
%floor-selector {
    fill: transparent;
    stroke: #fff;
    stroke-miterlimit: 10;
}

svg {
    width: 100%
}

svg * :hover {
    stroke: $svg-highlight-color;
}

.highlighted {
    stroke: $svg-highlight-color;
}

.firstfloor {
    @extend %floor-selector;
}

.secondfloor {
    @extend %floor-selector;
}

.thirdfloor {
    @extend %floor-selector;
}