/*content breakpoints*/
$xs:    0.25rem;
$s:     0.5rem;
$m:     1rem;
$ml:    1.5rem;
$l:     2rem;
$xl:    2.5rem;
$xxl:   3rem;

/*device size breakpoints*/
$small: 720px;
$medium: 1440px;
$large: 1920px;